name: Docker Image CI - Alpine

on:
  push:
    branches: ["main"]
    paths:
      - "*.sh"
      - "alpine/**"
      - "docker-entrypoint.d/**"
      - ".github/workflows/**"
  pull_request:
    branches: ["main"]
    paths:
      - "*.sh"
      - "alpine/**"
      - "docker-entrypoint.d/**"
      - ".github/workflows/**"
  schedule:
    - cron: 0 0 * * *
  workflow_dispatch:

defaults:
  run:
    shell: "bash -Eeuo pipefail -x {0}"

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      max-parallel: 1
      matrix:
        include:
          - dockerfile: ./alpine/Dockerfile
          - dockerfile: ./alpine/Dockerfile.ngxblocker

    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PRIVATE }}

      - name: Get NGINX version
        id: get-nginx-version
        run: |
          curl -sSf --tlsv1.2 --proto '=https' https://webi.sh/jq | bash
          source ~/.config/envman/load.sh
          PKG_OSS_TAG="$(
            curl -sSf --tlsv1.2 --proto '=https' -q \
              https://api.github.com/repos/nginx/pkg-oss/tags | \
                jq --raw-output '[
                  map(select(.name | test("^\\d+\\.\\d+"))) |
                    .[] | {name, tarball_url}
                ] .[0] .tarball_url | split("/")[-1]'
          )"
          NGINX_VERSION="$(echo "$PKG_OSS_TAG" | awk -F "-" '{print $1}')"
          RELEASE="$(echo "$PKG_OSS_TAG" | awk -F "-" '{print $2}')"
          echo "NGINX_VERSION=${NGINX_VERSION}" >> $GITHUB_OUTPUT
          echo "RELEASE=${RELEASE}" >> $GITHUB_OUTPUT

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ secrets.DOCKER_USERNAME }}/nginx-boringssl
          flavor: |
            latest=true
            suffix=${{
              endsWith(matrix.dockerfile, 'ngxblocker') && '-ngxblocker' || ''
            }},onlatest=true
          tags: |
            type=raw,value=${{ steps.get-nginx-version.outputs.NGINX_VERSION }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: ${{ github.event_name != 'pull_request' }}
          build-args: |
            NGINX_VERSION=${{ steps.get-nginx-version.outputs.NGINX_VERSION }}
            RELEASE=${{ steps.get-nginx-version.outputs.RELEASE }}
          context: .
          file: ${{ matrix.dockerfile }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
